<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
	<appSettings>
		<add key="COM" value="15"/>
		<add key="Scripts" value="C:\Users\lourival.junior\Desktop\Repositórios\PinPadHomolog\VirtualPinpad\bin\Debug\Scripts"/>
		<add key="CLI" value="C:\Users\lourival.junior\Desktop\Repositórios\PinPadHomolog\VirtualPinpad\bin\Debug\CLI"/>
		<add key="VSPE" value="C:\Program Files (x86)\Eterlogic.com\Virtual Serial Ports Emulator"/>
	</appSettings>
</configuration>