<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
	<appSettings>
		<add key="COM" value="20"/>
		<add key="Scripts" value="C:\VirtualPinpad\Scripts"/>
		<add key="CLI" value="C:\VirtualPinpad\CLI"/>
		<add key="VSPE" value="C:\Program Files (x86)\Eterlogic.com\Virtual Serial Ports Emulator"/>
	</appSettings>
</configuration>